PANEL_USER=admin
PANEL_PASSWORD=change-this-password
PANEL_PORT=8443
ONLINE_SECONDS=180
VPN_ENDPOINT=SERVER_IP:41824
VPN_NETWORK=10.8.1.0/24
VPN_DNS=1.1.1.1
CLIENT_ALLOWED_IPS=0.0.0.0/0, ::/0
CLIENT_MTU=1420
CLIENT_KEEPALIVE=25
