{$PANEL_DOMAIN} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
	}

	basic_auth {
		admin {$PANEL_AUTH_HASH}
	}

	reverse_proxy https://awg-panel:8080 {
		header_up Host {http.request.host}
		transport http {
			tls_insecure_skip_verify
		}
	}
}
